a {
  color: orange;
  font-size: 24px;
}

.test-link {
  color: black;
  font-size: 30px;
}

a.test-link {
  color: teal;
}

.test-link:hover,
/* .test-link:focus {
  color: red;
}

.test-link:active {
  color: teal; */
}
